
{% extends "layout.html" %}


{% block content%}


<script type="text/javascript" src="{{ url_for('static', filename = 'add.js') }}"></script>



<!-- contents -->
<div class="container">



<!-- input boxes
@todo: 
    name,
    desc,
    img_url,
    rating,
    pricing,
    dishes,
    similar_res
-->


<div class="container">
    <div class="row notification-row">
        <!-- <div class="col-md-auto" id="notification">New Item successfully created.</div>
        <div class="col-md-6"><button class='btn btn-success btn-lg' id='view-new-itm-btn'>View it Here</button></div>  -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Add a new item</h3>
        </div>
        
    </div>

    
    <div class="row">
       <div class="col-md-2"><button class='btn btn-primary' id='submit-btn'>Submit</button></div> 
       <div class="col-md-2"><button class='btn btn-secondary' id='clear-btn'>Clear</button></div>  
    </div> 

<!-- inputs -->
<div class="row">
    <div class="col-md-2"><span>Name</span></div>
    <div class="col-md-10">
        <input type="text" class="form-control" id="name_input">
    </div>
</div>
<div class="row">
    <div class="col-md-2"><span></span></div>
    <div class="col-md-10" id="name_error">
    </div>
</div>

<div class="row">
    <div class="col-md-2"><span>Description</span></div>
    <div class="col-md-10">
        <input type="text" class="form-control" id="desc_input">
    </div>
</div>
<div class="row">
    <div class="col-md-2"><span></span></div>
    <div class="col-md-10" id="desc_error">
    </div>
</div>

<div class="row">
    <div class="col-md-2"><span>Image URL</span></div>
    <div class="col-md-10">
        <input type="text" class="form-control" id="url_input">
    </div>
</div>
<div class="row">
    <div class="col-md-2"><span></span></div>
    <div class="col-md-10" id="url_error">
    </div>
</div>

<div class="row">
    <div class="col-md-2"><span>Rating</span></div>
    <div class="col-md-10">
        <input type="text" class="form-control" id="rating_input">
    </div>
</div>
<div class="row">
    <div class="col-md-2"><span></span></div>
    <div class="col-md-10" id="rating_error">
    </div>
</div>

<div class="row">
    <div class="col-md-2"><span>Pricing</span></div>
    <div class="col-md-10">
        <input type="text" class="form-control" id="pricing_input">
    </div>
</div>
<div class="row">
    <div class="col-md-2"><span></span></div>
    <div class="col-md-10" id="pricing_error">
    </div>
</div>

<div class="row">
    <div class="col-md-2"><span>Dishes</span></div>
    <div class="col-md-10">
        <input type="text" class="form-control" id="dishes_input">
    </div>
</div>
<div class="row">
    <div class="col-md-2"><span></span></div>
    <div class="col-md-10" id="dishes_error">
    </div>
</div>

<div class="row">
    <div class="col-md-2"><span>Similar Ones</span></div>
    <div class="col-md-10">
        <input type="text" class="form-control" id="similar_res_input">
    </div>
</div>
<div class="row">
    <div class="col-md-2"><span></span></div>
    <div class="col-md-10" id="similar_res_error">
    </div>
</div>

<div class="row">
    <div class="col-md-2"><span>Open Status</span></div>
    <div class="col-md-10">
        <input type="text" class="form-control" id="open_status_input">
    </div>
</div>
<div class="row">
    <div class="col-md-2"><span></span></div>
    <div class="col-md-10" id="open_status_error">
    </div>
</div>


<div class="row">
    <div class="col-md-2"><span>Hours</span></div>
    <div class="col-md-10">
        <input type="text" class="form-control" id="hours_input">
    </div>
</div>
<div class="row">
    <div class="col-md-2"><span></span></div>
    <div class="col-md-10" id="hours_error">
    </div>
</div>


</div>

</div>


{% endblock%}