
{% extends "layout.html" %}


{% block content%}

<!-- dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.min.js" integrity="sha512-nPzvcIhv7AtvjpNcnbr86eT6zGtiudLiLyVssCWLmvQHgR95VvkLX8mMpqNKWs1TG3Hnf+tvHpnGmpPS3yJIgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'edit.js') }}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"> -->

<!-- Getting furniture from server -->
<script>
    let furniture = {{furniture|tojson}}
    let guidance = {{guidance|tojson}}
    console.log(furniture);
</script>

<style>
    .container{
        margin: 0px !important;
        padding: 0px !important;
        width: 100vw;
        height: 100vh;
    }

    .rowCanvas{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        width: 100vw;
        height: 100vh;
    }
    /* .draggable {
        width: 90px;
        height: 80px;
        padding: 5px;
        float: left;
        margin: 0 10px 10px 0;
        font-size: .9em;
    }

    .ui-widget-header p,
    .ui-widget-content p {
        margin: 0;
    }

    .progressBarGreen{
        width: 150px;
        position: absolute;
        top: 530px;
        left: 925px;
    }

    .progressBarRed{
        width: 150px;
        position: absolute;
        top: 560px;
        left: 925px;
    }

    #snaptarget {
        height: 140px;
    }

    #canvas{
        position: absolute;
    }

    /* absolute positioning needed to see btn 'above' canvas */
    /* #learn-test-submit-btn{
        top: 545px;
        left: 1095px;
        position: absolute;
    } */
</style>

<!-- content -->
<!-- Adding canva grid to html page -->
<div class="container">
    <!-- canvas -->
    <div class="row rowCanvas">
       <div class="col-md-9 rowCanvas" id="canvasSpace">
            <canvas id="c"></canvas>
       </div>
       <!-- sidebar -->
       <div class="col-md-3 rowCanvas">
           <!-- feedback message -->
           <div class="row">
                <div class="col-md-12">
                    <div><h3 id = 'guidance'></h3></div>
                    <p id="learn-feedback"></p>
                </div>
            </div>
            <!-- good progress bar -->
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="w3-light-grey progressBarGreen w3-round-xlarge">
                        <div class="w3-container w3-green w3-center w3-round-xlarge" style="width:0%" id="green-progress-bar">0%</div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="w3-light-grey progressBarRed w3-round-xlarge">
                        <div class="w3-container w3-red w3-center w3-round-xlarge" style="width:0%" id="red-progress-bar">0%</div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-3">
                    Progress
                </div>
                <div class="col-md-9">
                    <div class="progress">
                        <div id = 'progress-bar'class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                      </div>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" id="learn-test-submit-btn" style="float: left;">Submit</button> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <h2 id="complete-msg"></h2> -->
                </div>
            </div>
            <!-- rules list -->
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h3>Good Rules</h3>
                    </div>
                    <ul id="good-lesson-list">

                    </ul>
                    <div>
                        <h3>Bad Rules</h3>
                    </div>
                    <ul id="bad-lesson-list">

                    </ul>
                </div>
            </div>
       </div>
    </div>

    
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Rule</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" ></span>
              </button>
            </div>
            <div class="modal-body" id = 'lesson'>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="lesson-close-btn">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>


    <!-- lesson learned -->
    <!-- <div class="row">
        <div>
            <h1 id="learn-complete-msg"></h1>
        </div>
        
        <div>
            <h2> Lesson Learned</h2>
        </div> -->
        
    <!-- </div> -->
    <!-- progress bar -->
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id = 'learn-progress-bar'></div>
              </div>
        </div>
    </div>
    <!- lesson learned -->
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="row" id = 'learn-lesson-learned'>
                
            </div>
        </div>
    </div> -->
            
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id = 'learn-progress-bar'>0</div>
        </div>
    </div> -->
    
</div>


{% endblock %}