
{% extends "layout.html" %}


{% block content%}

<!-- dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.min.js" integrity="sha512-nPzvcIhv7AtvjpNcnbr86eT6zGtiudLiLyVssCWLmvQHgR95VvkLX8mMpqNKWs1TG3Hnf+tvHpnGmpPS3yJIgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">




<!-- 
    @TODO:
        1. fix the image..... idk why its' not working lol

 -->

<div class="container">
    <h1>some quick demo</h1>
</div>

<!-- content -->
<canvas id="c" width="800" height="800"></canvas>


{% endblock %}