{% extends "layout.html" %}


{% block content%}

<!-- dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

<script>
    let quiz_question={{quiz_question|tojson}}
    let score = {{score|tojson}}
    console.log("score is " + score);
</script>
<!-- 
TODO:
    1. how to handle the quiz start page? do we really need it?
 -->
<div class="container">
    <div class="row">
        <!-- current quiz score -->
        <div class="col-md-3 quiz-score" id="current-score">
            Score <span id = 'score-display'>0</span> / 6
        </div>
        <!-- body of question -->
        <div class="col-md-6">
            <!-- image -->
            <div class="row">
                <div class="col-md-12">
                    <img src="" alt="image of quiz" class="quiz-image" style="height: 300px; width: 300px;"/>
                </div>
            </div>
            <!-- question prompt -->
            <div class="row">
                <div class="col-md-12 quiz-prompt">
                </div>
            </div>
            <!-- options -->
            <div class="quiz-choices">
                <!-- create divs representing choices here... -->
            </div>
            <!-- system status percentage -->
            <div class="row quiz-percentage">

            </div>
        </div>
        <!-- buttons 
            if q not answered -> render ONLY submit button
            if q answered -> render next AND review
        -->
        <div class="col-md-3 quiz-buttons">
            
        </div>
    </div>  
</div>



{% endblock %}