{% extends "layout.html" %}


{% block content%}

<!-- dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<script>
    let score = {{score|tojson}};
    console.log(document.getElementById('quiz-end-score'));
</script>
<div class="container">
    <!-- quiz score -->
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
        Great Job! You got <span id='quiz-end-score'></span> questions correct.
        </div>
    </div>
    <!-- button -->
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <button type="button" class="btn btn-primary btn-lg">Back to learn more</button>
        </div> 
    </div>
</div>



{% endblock %}