{% extends "layout.html" %}


{% block content%}

<!-- dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

<script>
    let quiz_question={{quiz_question|tojson}}
    let score = {{score|tojson}}
</script>

<style>
    .capsule{
        margin-top:10px;
        background-color: white; 
        height: 100%;
        overflow:auto;
        border-radius: 25px;
    }
    .images{
        margin-top: 20px;
        margin-bottom: 20px;
        height: 400px;
        display: flex;
        justify-content: center;
    }
    .quiz-image{
        border: 2px solid lightgray;
    }

    .score{
        margin: 20px;
        background-color: rgb(241, 241, 241);
        border-radius: 25px;
        padding:5px;
        text-align: center;
        color: darkgray;
    }

    .submit{  
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .quiz-choices{
        margin-bottom: 20px;
    }
    .quiz-prompt{
        font-weight: bold;
        margin-bottom: 5px;
    }
</style>
<!-- 
TODO:
    1. how to handle the quiz start page? do we really need it?
 -->
<div class="container capsule">
    <div class="row">
        <!-- current quiz score -->
        <div class="col-md-3 quiz-score" id="current-score">
            <div class="score">
                Score <span id = 'score-display'>0</span> / 6
            </div>
        </div>
        <!-- body of question -->
        <div class="col-md-6">
            <!-- image -->
            <div class="row">
                <div class="col-md-12 images">
                    <img src="" alt="image of quiz" class="img-fluid quiz-image rounded" />
                </div>
            </div>
            <!-- question prompt -->
            <div class="row">
                <div class="col-md-12 quiz-prompt">
                </div>
            </div>
            <!-- options -->
            <div class="quiz-choices">
                <!-- create divs representing choices here... -->
            </div>
            <!-- system status percentage -->
            <div class="row progressRow">
                <div class="col-md-3">
                    Progress
                </div>
                <div class="col-md-9">
                    <div class="progress">
                        <div id ='progress-bar' class="progress-bar" role="progressbar" style="width: 0; margin-left: 5px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class ="col-md-3">
            <div class="submit"></div>
        </div>
        <!-- buttons 
            if q not answered -> render ONLY submit button
            if q answered -> render next AND review
        -->
    </div> 

    <div class="modal fade" id="quiz-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" ></span>
              </button>
            </div>
            <div class="modal-body" id = 'quiz-modal-text'>
              
            </div>
            <div class="modal-footer">
                <div id="skip-tutorial-btn"></div>
                <button type="button" id="modal-btn" class="btn btn-secondary" data-dismiss="modal" id="next-question" val="Next Question"></button>
            </div>
          </div>
        </div>
      </div> 
</div>



{% endblock %}