{% extends "layout.html" %}


{% block content%}

<!-- dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_end.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<script>
    let score = {{score|tojson}};
    let feedback = {{feedback|tojson}}
    console.log(score);
</script>
<div class="container">
    <!-- quiz score -->
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
        Great Job! You got <span id='quiz-end-score'>1</span> question(s) correct.
        </div>
    </div>
    <!-- button -->
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <a href="/quiz_yourself/0">
                <button type="button" class="btn btn-primary btn-lg" ahref>Restart</button>
            </a>
        </div> 
    </div>
</div>



{% endblock %}