

canvas {
    border: 1px solid #ccc;
}
/* log sales css */
#header{
    background-color: lightgray;
    padding: 25px
}

.row{
    padding-top: 5px;
    padding-bottom: 5px;

}

.highlight {
    background-color: yellow;
}


span.stars, span.stars span {
    display: block;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/747/star-o-white.svg) 0 0 repeat-x;
    width: 200px; /* width of a star multiplied by 5 */
    height: 25px; /* the height of the star */
    background-size: 25px 25px;
  }
  
  span.stars span {
    background-position: 0 0;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/747/star.svg);
  }

body{
    background-color: #f4f4f4;
}

#nav{
    background-color: #a6a6a6;
}


#welcome-card{
    background-color: #d4ebf2;
    padding-top:50px;
    padding-bottom: 50px;
}

.search-res-secondary-item{
    color: dimgrey;
    font-size: 12px;
}