canvas {
    border: 1px solid #ccc;
}

#header{
    background-color: lightgray;
    padding: 25px
}

.row{
    padding-top: 5px;
    padding-bottom: 5px;

}

body{
    background-color: #f4f4f4;
}

#nav{
    background-color: #a6a6a6;
}


#welcome-card{
    background-color: #d4ebf2;
    padding-top:50px;
    padding-bottom: 50px;
}

.search-res-secondary-item{
    color: dimgrey;
    font-size: 12px;
}